//colors

$color-black: #20222b;
$color-offwhite: #a5afd7;
$color-dark-blue: #333745;
$color-blue: #3c4251;
$color-light-blue: #464b5e;
$color-purple: #8357c5; 

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;